* {
    font-family: 'Lato', sans-serif;
    color: #232323;
}

html {}

body {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 24rem;
    width: 400px;
    height: 100vh;
}

h1.main-heading {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

#tabs {
    border-bottom: 1px solid #7ae978;
    display: flex;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #7ae978;
    font-weight: bolder;
    color: #232323;
    border-radius: 6px 6px 0 0;
}

#task-list {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#task-list>div {
    flex: 1;
    padding: 10px;
    background-color: #dedede;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 6px;
    margin-right: 6px;
    display: flex;
    justify-content: space-between;
    line-height: normal;
    cursor: pointer;
}

#task-list>div>a {
    text-decoration: none;
    font-weight: bold;
}

.button {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.5rem;
    width: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    background-color: #1D4ED8;
}

.button:hover {
    background-color: #1E40AF;
    cursor: pointer;
}

.input {
    display: block;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: #F9FAFB;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #111827;
}

.icon {
    width: 1rem;
    height: 1rem;
    color: #1F2937;
    margin-left: .5rem;
}

.stock-form {
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 24rem;
}

.stock-form-container {
    margin-right: 0.5rem;
    flex: 1 1 0%;
}

button {
    background: transparent;
    border: none;
    padding: 0;
}

.mb-2 {
    margin-bottom: .5rem;
}

.nr {
    text-align: center;
    font-size: 10px;
}